<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ShellScript -->
      <package
            uri="http://deltaecore.org/shellscript/1.0"
            class="org.deltaecore.shellscript.ShellScriptPackage"
            genModel="model/ShellScript.genmodel"/>
   </extension>

</plugin>
