<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CL -->
      <package
            uri="http://vicci.eu/cl/1.0"
            class="eu.vicci.ecosystem.cl.CLPackage"
            genModel="model/CL.genmodel"/>
   </extension>

</plugin>
