<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Expression -->
      <package
            uri="http://deltaecore.org/feature/expression/1.0"
            class="org.deltaecore.feature.expression.DEExpressionPackage"
            genModel="model/Expression.genmodel"/>
   </extension>

</plugin>
