<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://deltaecore.org/decore/1.0"
            class="org.deltaecore.core.decore.DEcorePackage"
            genModel="model/DEcore.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.deltaecore.core.decore.impl.custom.DEcoreFactoryImplCustom"
            uri="http://deltaecore.org/decore/1.0">
      </factory>
   </extension>
</plugin>
