<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="eu.vicci.ecosystem.sft.resource.sft_text.mopp.Sft_textMetaInformation" id="eu.vicci.ecosystem.sft.resource.sft_text.mopp.Sft_textMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="eu.vicci.ecosystem.sft.resource.sft_text.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="eu.vicci.ecosystem.sft.resource.sft_text.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.vicci.ecosystem.sft.resource.sft_text.problem">
		</super>
	</extension>
	
	<extension id="eu.vicci.ecosystem.sft.resource.sft_text.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.vicci.ecosystem.sft.resource.sft_text.problem">
		</super>
	</extension>
	
	<extension id="eu.vicci.ecosystem.sft.resource.sft_text.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.vicci.ecosystem.sft.resource.sft_text.problem">
		</super>
	</extension>
	
	<extension id="eu.vicci.ecosystem.sft.resource.sft_text.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.vicci.ecosystem.sft.resource.sft_text.problem">
		</super>
	</extension>
	
	<extension id="eu.vicci.ecosystem.sft.resource.sft_text.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.vicci.ecosystem.sft.resource.sft_text.problem">
		</super>
	</extension>
	
	<extension id="eu.vicci.ecosystem.sft.resource.sft_text.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.vicci.ecosystem.sft.resource.sft_text.problem">
		</super>
	</extension>
	
	<extension id="eu.vicci.ecosystem.sft.resource.sft_text.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.vicci.ecosystem.sft.resource.sft_text.problem">
		</super>
	</extension>
	
	<extension id="eu.vicci.ecosystem.sft.resource.sft_text.nature" name="sft_text nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="eu.vicci.ecosystem.sft.resource.sft_text.mopp.Sft_textNature">
			</run>
		</runtime>
		<builder id="eu.vicci.ecosystem.sft.resource.sft_text.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="eu.vicci.ecosystem.sft.resource.sft_text.builder" name="sft_text Builder">
		<builder hasNature="true">
			<run class="eu.vicci.ecosystem.sft.resource.sft_text.mopp.Sft_textBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="eu.vicci.ecosystem.sft.resource.sft_text.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="eu.vicci.ecosystem.sft.resource.sft_text.mopp.Sft_textResourceFactoryDelegator" type="sft_text">
		</parser>
	</extension>
	
	<extension-point id="eu.vicci.ecosystem.sft.resource.sft_text.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
