<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
       <editor
             class="eu.vicci.ecosystem.goalstructuringnotation.gsn.graphicaleditor.GSNGraphicalEditor"
             default="true"
             extensions="gsn"
             contributorClass="eu.vicci.ecosystem.goalstructuringnotation.gsn.graphicaleditor.GSNGraphicalEditorActionBarContributor"
             icon="icons/Editor.gif"
             id="eu.vicci.ecosystem.goalstructuringnotation.gsn.graphicaleditor.GSNGraphicalEditor"
             name="Graphical GSN Editor"/>
	</extension>
</plugin>
