<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EclipseProject -->
      <package
            uri="http://vicci.eu/eclipseproject/1.0"
            class="eu.vicci.eclipseproject.EclipseProjectPackage"
            genModel="model/EclipseProject.genmodel"/>
   </extension>

</plugin>
