<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Feature -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.deltaecore.feature.presentation.DEFeatureModelWizardID"
            name="%_UI_DEFeatureModelWizard_label"
            class="org.deltaecore.feature.presentation.DEFeatureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DEFeatureModelFile.gif">
         <description>%_UI_DEFeatureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Feature -->
      <editor
            id="org.deltaecore.feature.presentation.DEFeatureEditorID"
            name="%_UI_DEFeatureEditor_label"
            icon="icons/full/obj16/DEFeatureModelFile.gif"
            extensions="defeaturemodel,feature"
            class="org.deltaecore.feature.presentation.DEFeatureEditor"
            contributorClass="org.deltaecore.feature.presentation.DEFeatureActionBarContributor">
      </editor>
   </extension>

</plugin>
