<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.deltaecore.core.decore.resource.decore.mopp.DecoreMetaInformation" id="org.deltaecore.core.decore.resource.decore.mopp.DecoreMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.deltaecore.core.decore.resource.decore.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.deltaecore.core.decore.resource.decore.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.deltaecore.core.decore.resource.decore.problem">
		</super>
	</extension>
	
	<extension id="org.deltaecore.core.decore.resource.decore.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.deltaecore.core.decore.resource.decore.problem">
		</super>
	</extension>
	
	<extension id="org.deltaecore.core.decore.resource.decore.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.deltaecore.core.decore.resource.decore.problem">
		</super>
	</extension>
	
	<extension id="org.deltaecore.core.decore.resource.decore.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.deltaecore.core.decore.resource.decore.problem">
		</super>
	</extension>
	
	<extension id="org.deltaecore.core.decore.resource.decore.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.deltaecore.core.decore.resource.decore.problem">
		</super>
	</extension>
	
	<extension id="org.deltaecore.core.decore.resource.decore.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.deltaecore.core.decore.resource.decore.problem">
		</super>
	</extension>
	
	<extension id="org.deltaecore.core.decore.resource.decore.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.deltaecore.core.decore.resource.decore.problem">
		</super>
	</extension>
	
	<extension id="org.deltaecore.core.decore.resource.decore.nature" name="decore nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.deltaecore.core.decore.resource.decore.mopp.DecoreNature">
			</run>
		</runtime>
		<builder id="org.deltaecore.core.decore.resource.decore.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.deltaecore.core.decore.resource.decore.builder" name="decore Builder">
		<builder hasNature="true">
			<run class="org.deltaecore.core.decore.resource.decore.mopp.DecoreBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.deltaecore.core.decore.resource.decore.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.deltaecore.core.decore.resource.decore.mopp.DecoreResourceFactoryDelegator" type="decore">
		</parser>
	</extension>
	
	<extension-point id="org.deltaecore.core.decore.resource.decore.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.deltaecore.core.decore.resource.decore.debug.DecoreLineBreakpoint" id="org.deltaecore.core.decore.resource.decore.debug.breakpoint" markerType="org.deltaecore.core.decore.resource.decore.debug.lineBreakpoint.marker" name="decore Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.deltaecore.core.decore.resource.decore.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
</plugin>
