<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   
      <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.deltaecore.core.decoredialect"
            mandatory="true"
            name="DEcoreDialect">
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://deltaecore.org/decoredialect/1.0">
         </package>
         <constraints
               categories="org.deltaecore.core.decoredialect">
            <constraint
                  class="org.deltaecore.core.decoredialect.validation.DEValidConfigurationConstraint"
                  id="org.deltaecore.core.decoredialect.validation.DEValidConfigurationConstraint"
                  lang="Java"
                  mode="Batch"
                  name="DEValidConfigurationConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
               <target
                     class="DEDeltaDialect">
               </target>
            </constraint>
            <constraint
                  class="org.deltaecore.core.decoredialect.validation.DEUnambiguousParameterNamesConstraint"
                  id="org.deltaecore.core.decoredialect.validation.DEUnambiguousParameterNamesConstraint"
                  lang="Java"
                  mode="Batch"
                  name="DEUnambiguousParameterNamesConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
               <target
                     class="DEDeltaOperationDefinition">
               </target>
            </constraint>
            <constraint
                  class="org.deltaecore.core.decoredialect.validation.DEDeltaOperationNameUniqueConstraint"
                  id="org.deltaecore.core.decoredialect.validation.DEDeltaOperationNameUniqueConstraint"
                  lang="Java"
                  mode="Batch"
                  name="DEDeltaOperationNameUniqueConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
               <target
                     class="DEDeltaOperationDefinition">
               </target>
            </constraint>
            <constraint
                  class="org.deltaecore.core.decoredialect.validation.DEInsertDeltaOperationIndexParameterIntegerConstraint"
                  id="org.deltaecore.core.decoredialect.validation.DEInsertDeltaOperationIndexParameterIntegerConstraint"
                  lang="Java"
                  mode="Batch"
                  name="DEInsertDeltaOperationIndexParameterIntegerConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
               <target
                     class="DEInsertDeltaOperationDefinition">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="org.deltaecore.core.decoredialect.clientContext">
         <enablement></enablement>
      </clientContext>
      <binding
            category="org.deltaecore.core.decoredialect"
            context="org.deltaecore.core.decoredialect.clientContext">
      </binding>
   </extension>
</plugin>
